@import "base/device-ratio-mixin";
@import "base/vars";

.product-card__wrap {
  position: relative;
  padding: 30px 0;
}

.product-card__title {
  float: right;
  width: 45%;
  margin-bottom: 15px;
  margin-top: -6px; /*line-height*/

  @include s-m {
    width: 100%;
    margin-bottom: 25px;
  }

  @include s {
    float: none;
  }

  @include xs {
    padding: 0 40px;
    color: #282828;
    letter-spacing: 1.2px;
  }

  @include xxs {
    padding: 0 20px;
  }
}

.product-card__title-link {
  color: $color-title;
  text-decoration: none;
}

.product-card__image-wrap {
  float: left;
  display: inline-block;
  width: 55%;
  padding-right: 20px;

  @include s {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 0;
    background-color: #eaf2f4;
  }
}

.product-card__image {
  @include s {
    margin: auto;
  }
}

.product-card__text-wrap {
  float: right;
  width: 45%;

  @include s {
    float: none;
    width: 100%;
  }
  @include xs {
    padding: 0 40px;
  }

  @include xxs {
    padding: 0 20px;
  }

}

.vendor-code {
  margin-bottom: 20px;
  color: rgba($color-title, .7);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;

  @include s-m {
    margin-bottom: 10px;
    font-size: 11px;
  }

  @include s {
    font-size: 12px;
  }
}

.price {
  margin-bottom: 20px;
  color: $color-title;
  font-size: 0;
  font-weight: 700;
  text-transform: uppercase;

  @include s-m {
    margin-bottom: 10px;
  }
}

.price__item {
  font-size: 0;
  display: inline-block;
}

.price__text {
  font-size: 24px;

  @include s-m {
    font-size: 36px;
  }
}

.price__old {
  text-decoration: line-through;
  margin-right: 25px;

  @include s-m {
    margin-right: 20px;
  }
}

.price__old + .price__current {
  color: $color-alert;
}

.rating {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 25px;

  @include s-m {
    margin-bottom: 20px;
  }
}

.rating__item {
  font-size: 18px;
  color: #ababab;
  cursor: pointer;

  &.is-active {
    color: $color-alert;
  }
}

.share {
  position: relative;
  display: inline-block;

  @include s-m {
    position: static;
    font-size: 0;
  }

  @include s {
    display: block;
  }
}

.share__button {
  display: inline-block;
  border: none;
  outline: none;
  background: transparent;
  color: $color-social;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
  cursor: pointer;
  transition: color .15s ease-in-out;

  &:hover {
    color: darken($color-social, 10%);
  }

  @include s-m {
    display: none;
  }
}
.social-popup {
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: 284px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);

  &.is-open {
    display: inline-block;
    top: 40px;
    animation-name: animateTop;
    animation-duration: 0.4s;

    @include s-m {
      top: 95px;
    }

    @keyframes animateTop {
      from {top: -300px; opacity: 0}
      to {top: 40px; opacity: 1}
    }
  }

  @include s-m {
    display: inline-block;
    top: 95px;
    left: 15px;
    transform: none;
    width: 41px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  @include s {
    position: static;
    width: 284px;
  }

  @include xs {
    width: auto;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    @include s-m {
      content: none;
    }
  }

  &::before {
    top: -5px;
    width: 14px;
    height: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    transform: rotate(45deg);
  }

  &::after {
    top: 0;
    width: 30px;
    height: 15px;
  }
}

.social-popup__head {
  position: relative;
  padding-right: 20px;

  @include s-m {
    display: none;
  }
}

.social-popup__title {
  display: inline-block;
  color: $color-social;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.45px;
}

.close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  cursor: pointer;

  &:hover {
    &::before,
    &::after {
      background-color: darken($color-social, 20%);
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 3px;
    height: 15px;
    margin: auto;
    background-color: $color-social;
    transition: background-color .15s ease-in-out;
  }

  &::before {
    transform: rotate(45deg)
  }

  &::after {
    transform: rotate(-45deg)
  }
}

.social {
  padding: 20px 0 5px;
  margin-right: -6px;
  margin-left: -6px;
  font-size: 0;

  @include s-m {
    padding: 0;
    margin: 0;
  }

  @include s {
    display: inline-block;
    padding: 10px 0 30px;
    margin-right: -6px;
    margin-left: -6px;
  }

  @include xxs {
    margin-right: -4px;
    margin-left: -4px;
  }
}

.social__item {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 6px;
  margin-left: 6px;
  border: 2px solid $color-social;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  transition: background-color .15s ease-in-out;

  @include s-m {
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include s {
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 0;
  }

  @include xxs {
    margin-right: 4px;
    margin-left: 4px;
  }

  &:hover {
    background-color: $color-social;
    .social__icon {
      color: #fff;
    }
  }
}

.social__icon {
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  color: $color-social;
  transition: color .15s ease-in-out;
}

.description {
  margin-bottom: 25px;

  @include s-m {
    margin-bottom: 20px;
  }
}

.description__title {
  display: none;

  @include s-m {
    display: block;
  }

  @include s {
    display: none;
  }
}

.size {
  margin-bottom: 25px;

  @include s {
    text-align: center;
  }
}

.size__title {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
  vertical-align: middle;

  @include s-m {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
  }

  &--hide {
    display: none;

    @include s-m {
      display: inline-block;
    }
  }
}

.size__list {
  display: inline-block;
  padding: 0;
  margin: 0 -6px;
  vertical-align: middle;
  font-size: 0;
  list-style: none;

  @include s-m {
    margin-right: -11px;
    margin-left: -11px;
  }
}

.size__list-item {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 6px;
  margin-left: 6px;
  vertical-align: middle;
  font-size: 12px;
  color: $color-title;
  text-align: center;
  font-weight: 600;
  line-height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.72);
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .15s ease-in-out,
              color .15s ease-in-out;

  @include s-m {
    margin-right: 11px;
    margin-left: 11px;
  }

  &:hover,
  &.is-active {
    background-color: $color-title;
    color: #fff;
  }
}

.cart-button {
  display: inline-block;
  padding: 0 55px;
  line-height: 44px;
  border: none;
  outline: none;
  background-color: $color-btn;
  border-radius: 22px;
  cursor: pointer;
  transition: background-color .15s ease-in-out;

  @include s {
    display: block;
    padding: 0 20px;
    width: 100%;
    max-width: 280px;
    margin: auto;
    font-size: 18px;
  }

  &:hover {
    background-color: darken($color-btn, 15%);
  }
}

.similar-block {
  padding: 30px 0;
  font-size: 0;

  @include xs {
    padding: 30px 40px;
  }

  @include xxs {
    padding: 30px 20px;
  }
}

.similar-block__title {
  margin-bottom: 15px;

  @include s-m {
    text-align: center;
  }
}

.similar-block__slider {
  position: relative;
}

.similar-block__wrap {
  margin: -10px;

  @include s-m {
    margin: -20px;
  }

  @include s-m {
    margin: -10px;
  }

  @include xs {
    overflow: hidden;
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }
}

.similar-block__item {
  display: inline-block;
  position: relative;
  width: 33.33%;
  padding: 10px;

  @include s-m {
    width: 50%;
    padding: 20px;
  }

  @include s {
    padding: 10px;
  }

  @include xs {
    display: none;
    padding: 0;
    width: auto;
    max-width: 300px;
    margin: 0 40px;
  }

  &.is-active {
    display: inline-block;
  }
}

.similar-block__price {
  position: absolute;
  right: 10px;
  bottom: 30px;
  margin-bottom: 0;
  padding: 5px;
  background-color: $color-btn;

  @include s-m {
    bottom: 20px;
    right: 20px;
    left: 20px;
    text-align: center;
    background-color: rgba($color-btn, .75);
  }

  @include s {
    bottom: 10px;
    right: 10px;
    left: 10px;
  }

  @include xs {
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.similar-block__price .price__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  @include s-m {
    font-size: 22px;
  }

  @include  s {
    font-size: 18px;
  }
}
.similar-block__price .price__old {
  margin-right: 15px;
}

.control-btn {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 5px solid transparent;
  outline: none;
  cursor: pointer;
  transform: rotate(45deg);

  @include xs {
    display: inline-block;
  }

  &.arrow-disabled {

  }

  &--prev {
    left: 0;
    border-left-color: #949494;
    border-bottom-color: #949494;

    &.arrow-disabled {
      border-left-color: #bebebe;
      border-bottom-color: #bebebe;
      cursor: no-drop;
    }
  }

  &--next {
    right: 0;
    border-right-color: #949494;
    border-top-color: #949494;

    &.arrow-disabled {
      border-right-color: #bebebe;
      border-top-color: #bebebe;
      cursor: no-drop;
    }
  }
}
