body {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.34;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  min-width: 290px;
}