/* start break points*/
$xxl: 1440px;
$xl: 1240px;
$l: 1024px;
$m: 860px;
$s-m: 768px;
$s: 640px;
$xs: 480px;
$xxs: 360px;

@mixin xxs {
  @media only screen  and (max-width: #{$xxs}) {
    @content;
  }
}

@mixin xs {
  @media only screen  and (max-width: #{$xs}) {
    @content;
  }
}
@mixin s {
  @media only screen and (max-width: #{$s}) {
    @content;
  }
}
@mixin s-m {
  @media only screen and (max-width: #{$s-m}){
    @content;
  }
}
@mixin m {
  @media only screen and (max-width: #{$m}){
    @content;
  }
}
@mixin l {
  @media only screen and (max-width: #{$l}) {
    @content;
  }
}
@mixin xl {
  @media only screen and (max-width: #{$xl}) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (max-width: #{$xxl}) {
    @content;
  }
}
/* end break points*/