$color-title: #2c303d;
$color-text: #282828;
$color-alert: #ce2c52;
$color-success: #8ae6cf;
$color-social: #2c87ce;
$color-btn: #8ae6cf;
$font-open-sans: 'Open Sans', sans-serif;
$font-oswald: 'Oswald', sans-serif;