.h2-title {
  color: $color-title;
  font-family: $font-oswald;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.h3-title {
  color: $color-title;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1.65px;

  @include s {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}

.h5-title {
  margin-bottom: 10px;
  color: $color-text;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.35px;

  @include s {
    font-size: 20px;
    letter-spacing: 1px;
  }

}

.paragraph {
  margin-bottom: 15px;
  color: $color-text;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.34;
  letter-spacing: 0.3px;

  @include s {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.35px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}